@import url("https://fonts.googleapis.com/css?family=Orbitron");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

body {
  margin: 0;
  font-family: Titillium Web;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  margin: 0 auto;
  font-family: Orbitron;
  max-width: 350px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.navbar .links {
  margin-left: auto;
}

.teams {
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
}

.team {
  border-style: solid;
  margin: 5px;
  padding: 10px;
}

.team div {
  border-style: solid;
}
